.header {
    background: $bg-color-header;
    font-size: $fs-header-mobile;
    font-weight: $fw-header;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 2px solid $red;

    @media (min-width: 768px) {
        font-size: $fs-header-tablet;
        padding-left: 20px;
        padding-right: 20px;
    }

    @media (min-width: 992px) {
        font-size: $fs-header;
    }
}

.logo {
    &__img {
        max-width: 100%;
        padding-right: 10px;
    }
}

#opener-menu {
    display: none;

    &:checked {
        ~.opener-menu {
            span {
                opacity: 0;
            }

            &:before {
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg) ;
            }
            &:after {
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg) ;
            }
        }

        ~.header__list {
            transform: translateX(0);
        }
    }
}

.opener-menu {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 4px;
    padding-left: 20px;

    &:before,
    &:after,
    span {
        @extend %centerblock;
        position: absolute;
        content: '';
        height: 3px;
        width: 30px;
        background: red;
        transition: all .5s;
    }

    &:before {
        top: 10px;
    }
    &:after {
        top: calc(100% - 10px);
    }

    @media (min-width: 768px) {
        display: none;
    }
}

.header__navigation {
    .header__list {
        @extend %listreset;
        width: 320px;
        background: $bg-color-header;
        position: absolute;
        top: 100%;
        right: 0;
        transform: translateX(100%);
        transition: transform 1s;
        

        @media (min-width: 768px) {
            width: 100%;
            display: flex;
            justify-content: space-between;
            width: auto;
            background: none;
            position: relative;
            top: -100%;
            right: 0;
            transform: translateX(0);
        }

        > li {
            padding: 10px 10px;

            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;
                padding: 0 10px;
            }
            
            > a {
                text-decoration: none;
                color:$black;
                transition: $btn-transition;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}