//colors
$bg-color-header: #D3B714;
$bg-color-aside1: #C798B9;
$bg-color-aside2: #9CB1C7;
$bg-color-footer: #83E683;
$blue: #685174;
$white: white;
$red: red;
$black: black;

//blocks width
$width-aside: 210px;
$width-aside-tablet: 150px; 

//fonts
$fs-header: 20px;
$fs-header-tablet:16px;
$fs-header-mobile:12px;
$fw-header: 500;
$fs-card-title: 20px;
$fs-card-title-tablet: 18px;
$fs-card-title-mobile: 12px;
$fs-card-descr: 18px;
$fs-card-descr-tablet: 16px;
$fs-card-descr-mobile: 10px;

//btn
$btn-padding:     8px 20px;
$btn-font-size:   16px;
$btn-font-size-tablet:   14px;
$btn-font-size-mobile:   12px;
$btn-line-height: 20px;
$btn-background:  $blue;
$btn-color:       $white;
$bth-bg-hover:    $red;
$btn-border-radius: 20px;
$btn-transition: .5s;