.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin-top: 20px;
    
    &__item {
        display: flex;
        padding: 5px;
        flex-basis: calc (100% / 3);

        @media (min-width:992px) {
            padding: 15px;
        }
    }
}

.card {
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 1s;

    @media (min-width:576px) {
        width: 370px;
    }
    &:hover {
        box-shadow: 0 0 20px grey;
        background: $btn-hover-bg-color;
        .card__body::before {
            background: $btn-hover-bg-color;
        }
        .card__link {
            opacity: 1;
        }
        .card__lupa {
            opacity:1;
        }
        .card__title{
            color: white;
        }
        .card__descr {
            color: #c7b299;
        }
    }
}