.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
        margin: 0;
        margin-top: 75px;
    }

    &__descr {
        margin: 0;
        margin-top: 13px;
        margin-left: 2px;
        max-width: 780px;
        text-align: center;
        color: $descr-color;
    }
}

.header__navigation {
    margin-top: 30px;
    margin-left: 20px;
    .header__list {
        @extend %listreset;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        

        .btn-1 {
            padding-left: 25px;
            padding-right: 27px;
        }

        .btn-2 {
            padding-top: 10px;
            padding-bottom: 8px;
            padding-left: 19px;
            padding-right: 19px;
        }

        .btn-3 {
            padding-top: 10px;
            padding-bottom: 8px;
            padding-left: 21px;
            padding-right: 21px;
        }

        .btn-4 {
            padding-left: 24px;
            padding-right: 24px;
        }

        .btn-5 {
            padding-left: 24px;
            padding-right: 23px;
        }

        > li {

            padding-right: 10px;
            
            > a {
                text-decoration: none;
                transition: $btn-transition;
            }
        }
    }
}