.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.content {
    margin: 0 auto;
    max-width: 1180px;
    display: flex;
    overflow: hidden;

    @media (min-width: 1400px) {
        padding-left: 10px;
    }
}



.card {
    position: relative;
    &__img-wrap {
        position: relative;
        width: 100%;

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
            left: 0;
            top: 0;
            transition: opacity 0.6s;
            
            opacity: 0;
        }

        &:hover::after {
            opacity: 1;
        }

        @media (min-width:576px) {
            width: 370px;
            height: 237px;
        }
    }
    &__img {
        position: relative;
        width: 100%;

        @media (min-width:576px) {
            width: 370px;
            height: 237px;
        }
    }

    &__body {
        position: relative;
        width: 100%;

        @media (min-width:576px) {
            width: 370px;
            height: 100px;
        }
        &::before {
            position: absolute;
            content: '';
            top: -10px;
            left: 20px;
            width: 20px;
            height: 20px;
            background: white;
            transition: all 1s;
            transform: rotate(45deg);
        }
    }

    &__link {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        opacity: 0;
        z-index: 1;
    }

    &__lupa {
        position: absolute;
        top: 50%;
        left: 55%;
        transform: translate(-50%, -50%);
        opacity: 0;
        z-index: 1;
    }

    &__title {
        margin: 0;
        padding: 23px 0px 9px 28px;
        font-family: Raleway;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        color: #c7b299;
    }

    &__descr {
        margin: 0;
        padding-left: 28px;
        font-family: Montserrat;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        color: #d1d1d1;
    }
}

.text-center {
    text-align: center;
}

.button-wrap {
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 82px;
}

