.title-1 {
    text-align: center;
    font-family: Raleway;
    font-size: $fs-title-1;
    line-height: $lh-title-1;
    font-weight: $fw-title-1;
    color: $title-1-color;
}

.descr {
    font-family: Montserrat;
    font-size: $fs-descr;
    line-height: $lh-descr;
    font-weight: $fw-descr;
    
}